default:
  suites:
    default:
      paths:
        - %paths.base%/tests/features
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\Tests\oe_multilingual\Behat\DrupalContext
  extensions:
    Behat\MinkExtension:
      goutte: ~
      selenium2: ~
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
      region_map:
        page: "body"
        header: ".ecl-site-header"
        navigation: ".ecl-navigation-menu"
        about dropdown menu: "#nav-menu-expandable-group-2"
        priorities dropdown menu: "#nav-menu-expandable-group-3"
        identity footer: ".ecl-footer__site-identity"
        corporate footer: ".ecl-footer__site-corporate"
        contacts footer: ".ecl-footer__ec"
  formatters:
    progress: ~
