default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\Tests\oe_multilingual\Behat\DrupalContext
        - Drupal\Tests\oe_multilingual\Behat\MinkContext
        - Drupal\Tests\oe_multilingual\Behat\InterfaceTranslationContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              English administration home: 'en/admin'
              French administration home: 'fr/admin'
              demo content creation: 'node/add/oe_demo_translatable_page'
              url suffix settings: 'admin/config/regional/language/detection/url-suffix_en'
  extensions:
    Drupal\MinkExtension:
      goutte: ~
      selenium2: ~
      ajax_timeout: 10
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
      selectors: &drupal-selectors
        success_message_selector: ".messages--status"
        error_message_selector: ".messages--error"
      region_map:
        "language switcher": "#block-oe-multilingual-language-switcher"
        "language dialog": "#block-oe-multilingual-language-switcher"
        "page content": ".region-content"
  formatters:
    progress: ~
