default:
  suites:
    default:
      paths:
        - "%paths.base%/tests/features"
      contexts:
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\Tests\oe_multilingual\Behat\DrupalContext
        - Drupal\Tests\oe_multilingual\Behat\MinkContext
        - Drupal\Tests\oe_multilingual\Behat\InterfaceTranslationContext
        - OpenEuropa\Behat\TransformationContext:
            pages:
              English administration home: 'en/admin'
              French administration home: 'fr/admin'
              demo content creation: 'node/add/oe_demo_translatable_page'
              url suffix settings: 'admin/config/regional/language/detection/url-suffix_en'
  extensions:
    Drupal\MinkExtension:
      browserkit_http: ~
      selenium2:
        wd_host: '${selenium.host}:${selenium.port}/wd/hub'
        capabilities:
          browser: chrome
          nativeEvents: true
          marionette: true
          browserName: chrome
          version: '*'
          extra_capabilities:
            chromeOptions:
              w3c: false
              args:
                - '--no-sandbox'
                - '--start-maximized'
                - '--disable-gpu'
                - '--window-size=1280,800'
                - '--disable-dev-shm-usage'
                - '--disable-setuid-sandbox'
                - '--disable-web-security'
                - '--DNS-prefetch-disable'
                - '--disable-translate'
                - '--ignore-certificate-errors'
                - '--test-type'
                - '--disable-extensions'
                - '--incognito'
                - '--disable-infobars'
      ajax_timeout: 10
      javascript_session: selenium2
      base_url: "${drupal.base_url}"
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "build"
      selectors: &drupal-selectors
        success_message_selector: ".messages--status"
        error_message_selector: ".messages--error"
      region_map:
        "language switcher": "#block-oe-multilingual-language-switcher"
        "language dialog": "#block-oe-multilingual-language-switcher"
        "page content": "main.site-main"
  formatters:
    progress: ~
